body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 5px;
    gap: 3px;
    width: 230px;
}
#container #screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
    width: auto;
    border: 2px solid black;
    padding: 2px;
    margin: 3px;
    font-size: 30px;
}
#container #extraButton {
    display: flex;
    justify-content: space-evenly   ;
    width: 232px;   
    gap: 2px;
}
#buttons {
    display: flex;
    gap: 2px;
}

#buttons #numbers {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

#buttons #operator {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.numberButton,
.operatorButton,
.otherButton {
    height: 60px;
    width: 55px;
}
