body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 5px;
    gap: 3px;
}
#container #screen {
    height: 70px;
    width: auto;
    border: 2px solid black;
    padding: 2px;
    margin: 3px;
}
#container #extraButton {
    display: flex;
    justify-content: space-evenly   ;
    width: 232px;   
    gap: 2px;
}
#buttons {
    display: flex;
    gap: 2px;
}

#buttons #numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
    width: 170px;
}

#buttons #operator {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 57px;
    gap: 2px;
}
.numberButton,
.operatorButton,
.otherButton {
    padding: 20px;
}
